{
  "presets": [
    "env"
  ],
  "plugins": [
    ["module-resolver", {
      "root": "./src",
      "alias": { "~": "./src" }
    }],
    ["styled-components", {
      "displayName": true
    }]
  ]
}
